{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "printWidth": 100,
    "tabWidth": 2,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "auto",
    "jsxSingleQuote": true,
    "bracketSameLine": false,
    "quoteProps": "as-needed",
    "useTabs": false,
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "vueIndentScriptAndStyle": false,
    "embeddedLanguageFormatting": "auto"
}